<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Update Your Task</ion-title>
    <ion-icon name="close-circle-outline" slot="end" size="large" class="ion-padding" (click)="dismis()"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content style='border-radius: 15px, 15px, 15px, 15px ;'>
  <ion-card class="ion-align-self-center">
    <ion-item>
      <ion-textarea [(ngModel)]="itemName" placeholder="Add Your Task name"></ion-textarea> 
    </ion-item>

    <ion-item>
      <ion-label>Level of Assignment Importance</ion-label>
      <ion-select [(ngModel)]="itemPriority">
      <ion-select-option value="Low">Daily</ion-select-option>
      <ion-select-option value="Middle">Important</ion-select-option>
      <ion-select-option value="High">Critical</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>Due Date</ion-label>
      <ion-datetime [(ngModel)]="itemDueDate" displayFormat="D MMM YYYY H:mm"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      <ion-label> Category</ion-label>
      <span >{{categorySelectedCategory}}</span>
    </ion-item>

    <ion-item>
      <ion-chip *ngFor="let tag of categories; let i = index" color="secondary" outline="true" (click)="selectCategory(i)">
        <ion-label color="secondary">{{tag}}</ion-label>
      </ion-chip>
      
    </ion-item>

    <ion-button class="ion-margin" expand="block" (click)="update()">Update Task</ion-button>

  </ion-card>


</ion-content>
