.font{
    font-family: Montserrat !important;
}
.profile{
    ion-button {
        fill: transparent;
    }
}

.section{
    border-bottom: 1px solid grey;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.bold{
    font-weight: bold;
}
