.font{
    font-family: 'Montserrat' !important;
    font-weight: 400;
}

ion-content{
    div{
        margin-left:7px;
        font-family: 'Montserrat' !important;
        .profile{
            margin:16px 0px 7px 0px;
            #profile{
                height:60px;
                img{
                    border-radius:50%;
                    margin-right:auto;
                }
                h5{
                    margin-left:10px;
                    margin-right: auto;
                }
                ion-icon {
                    --ion-icon-stroke-width: 30px;
                    margin-left: auto;
                }
            }

        }
    }
    ion-list{
        --ion-background-color: #055ad9 !important;
        .list-md{
            padding-top:0;
            padding-bottom:0;
        }
        .header{
            font-weight: 400;
        }
        .email{
            ion-label{
                font-weight: bold;
                p{
                    font-weight: normal;
                }
            }
        }
    }
}



//     .account {
//         padding-top: 10px;
//         #accounts{
//             margin-top: 5px;
//             margin-bottom: 5px;
//             font-weight: bold;
//             // font-weight: bold;
//         }
//         #email {
//             margin-top:10px;
//             font-weight:normal;
//         }
//         #email-content {
//             font-weight: lighter;
//         }
//     }

//     .section{
//         border-bottom: 1px solid grey;
//         padding-top: 1.2em;
//         padding-bottom: 1.2em;
//     }

//     .bold{
//         font-weight: bold;
//     }
// }