<ion-header>
  <ion-toolbar>
    <ion-title class="font" align="center">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>

    <div class="profile">
      <ion-button id="profile" expand="full" fill="clear" disabled="false" (click)="profile()">
        <img src="https://www.w3schools.com/howto/img_avatar.png" width="60"/>
        <h5><b>PandaMerah</b>
          <br>View Profile
        </h5>
        <ion-icon name="chevron-forward-outline" large></ion-icon>
      </ion-button>
    </div>

    <ion-list>

      <ion-list-header class="header">Accounts</ion-list-header>

      <ion-item text-wrap>
        <ion-label>Email
          <p>notavailable@pandamerah.tech</p>
        </ion-label>
        
      </ion-item>

      <ion-list-header class="header">App Settings</ion-list-header>

      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label>Dark Mode</ion-label>
        <ion-toggle slot="end" (ionChange)='toggleTheme($event)'></ion-toggle>
      </ion-item>

      <ion-item button (click)="aboutUs()">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>About Us</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>

      <ion-list-header class="header">Task Settings</ion-list-header>

      <ion-item button (click)="confirmationAlert()">
        <ion-icon name="trash-outline"></ion-icon>
        <ion-label>Clear all tasks</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      
    </ion-list>

  </div>

</ion-content>
