<ion-header>
  <ion-toolbar>
    <ion-title class="font" >Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Login/Register Page Goes Here -->

  <div class="profile">
    <ion-button expand="full">
      <i><img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/410.svg" width="30"/></i>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-button>
  </div>

  <!-- Settings Start here -->
  <div class="section">
    <ion-label class='bold'>App Setting</ion-label>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>Dark Mode</ion-label>
      <ion-toggle slot="end" (ionChange)='toggleTheme($event)'></ion-toggle>
    </ion-item>
  </div>

  <div class="section">
    <ion-label class='bold'>Task Setting</ion-label>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>Dark Mode</ion-label>
      <ion-toggle slot="end" (ionChange)='toggleTheme($event)'></ion-toggle>
    </ion-item>
  </div>

  <ion-button expand="block">About Us</ion-button>

</ion-content>
