.font{
    font-family: 'Montserrat' !important;
    font-weight: 400;
}

div{ //TEXT PART START HERE
    margin-left: 7px;
    font-family: 'Montserrat' !important;

    .profile{ //PROFILE CSS
        margin-top: 16px;
        margin-bottom: 7px;
        #profile{
            fill: transparent;
            height: 60px;
            
        }
        img {
            border-radius: 50%;
            // align-items: start;
            margin-right: auto;
        }
        h2 {
            margin-left:10px;
            margin-right: auto;
            b{
                font-weight:normal;
            }
        }
        ion-icon {
            --ionicon-stroke-width: 30px;
            margin-left: auto;
        }
    }

    .account {
        padding-top: 10px;
        #accounts{
            margin-top: 5px;
            margin-bottom: 5px;
            font-weight: bold;
            // font-weight: bold;
        }
        #email {
            margin-top:10px;
            font-weight:normal;
        }
        #email-content {
            font-weight: lighter;
        }
    }

    .section{
        border-bottom: 1px solid grey;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
    }

    .bold{
        font-weight: bold;
    }
}