ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

.no-scroll .scroll-content{
  overflow: hidden;
}

.swiper-slide {
  display: block;
}

.slide-image {
  max-width: auto;
  padding-right: 15%;
  padding-left: 15%;
  margin-top: 20px;
  pointer-events: none;
}


ion-content{
  ion-slides{
    p {
      padding: 0 35px;
      font-size: 18px;
      line-height: 1.2;
    
      b {
        color: var(--ion-text-color, #000000);
        font-weight: 500;
       } 
    }
  }
}
