<ion-header [translucent]="true">
  <ion-toolbar color="primary" no-border>
    <ion-title class="ion-margin-top">Today</ion-title>
    <p class="ion-margin-left"color ="danger">{{today | date:'fullDate'}}</p>
    <ion-button fill="clear" expand="block" size="small" slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-refresher slot="fixed" (ionRefresh)="refreshTask($event)">
    <ion-refresher-content>
      <!-- pullingIcon="crescent"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."> -->
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="ion-margin" color="tertiary" *ngFor="let item of todoList; let i=index">
      <ion-card-header>
        <ion-card-subtitle [style.color]="item.value.itemPriority === 'High' ? 'red' : (item.value.itemPriority === 'Low' ? 'aquamarine' : 'orange')">
           {{item.value.itemCategory}}
        </ion-card-subtitle>

        <ion-item>
          <ion-icon *ngIf="item.value.itemPriority === 'High' " color="danger" size="small" name= "ellipse"></ion-icon>
          <ion-icon *ngIf="item.value.itemPriority === 'Middle' " color="warning" size="small" name= "ellipse"></ion-icon>
          <ion-icon *ngIf="item.value.itemPriority === 'Low' " color="success" size="small" name= "ellipse"></ion-icon>

          <ion-label>{{item.value.itemName}}</ion-label>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <ion-label >Due {{item.value.itemDueDate | date:'fullDate'}}</ion-label>
      </ion-card-content>

      <ion-row>

        <ion-col>
          <ion-item button (click)="update(item)">
            <ion-icon name="create-outline" ></ion-icon> 
            <p>Update</p>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item button (click)="delete(item.key)">
            <ion-icon name="trash-outline"></ion-icon>
            <p>Delete</p>
          </ion-item>
        </ion-col>
      </ion-row>


  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
