<ion-header>
<ion-buttons slot="end">
  <ion-back-button></ion-back-button>
</ion-buttons>

  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">About us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class=ion-text-center style="font-weight: 30;font-size: 2em;" > Assalamualaikum dan selamat datang! </p>
  <p class=ion-text-center style="font-weight: 30;font-size:large;">Sebagai pengenalan,aplikasi ini merupakan sebuah projek daripada pelajar Kolej Vokasional Sungai Buloh.</p>
    <h1 class=ion-text-center style="font-weight: 30;font-size:large;">Tujuan asal aplikasi ini dibangunkan adalah untuk   menyelesaikan masalah pelajar yang sering terlupa untuk menyiapkan kerja rumah mereka.</h1>
  <p class=ion-text-center style="font-weight: 30;font-size:large;">Namun, disebabkan kepelbagaian fungsi bagi aplikasi ini ianya turut boleh dijadikan sebagai aplikasi peringatan untuk melakukan tugas-tugas yang lain. Contohnya seperti tugasan harian anda.</p>
</ion-content>
