ion-header{
  ion-toolbar{
    ion-title{
      padding:0px 30px 0px 0px;
    }
  }
}

ion-content{

  .header{
    b {
      // text-align: center;
      display:block;
      text-align: center;
      font-family: 'Montserrat'!important;
      font-size: larger;
    }
  }
  .ayat {
    p{
      font-family: 'Montserrat'!important;
      font-weight: 300;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  ion-label{
    b{
      padding-left:10px;
    }
  }
}





