<ion-header>
  <ion-toolbar>
    <ion-title>Tambah Tugasan Baru Bro</ion-title>
    <ion-icon name="close-circle-outline" slot="end" size="large" class="ion-padding" (click)="dismis()"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card class="ion-align-self-center">
    <ion-item>
      <ion-textarea [(ngModel)]="itemName" placeholder="Masukkan nama tugasan anda"></ion-textarea> 
    </ion-item>

    <ion-item>
      <ion-label>Tahap Kepentingan Tugasan</ion-label>
      <ion-select [(ngModel)]="itemPriority">
      <ion-select-option value="Low">Tugasan Harian</ion-select-option>
      <ion-select-option value="Middle">Penting</ion-select-option>
      <ion-select-option value="High">Sangat Penting</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>Due Date</ion-label>
      <ion-datetime [(ngModel)]="itemDueDate" displayFormat="D MMM YYYY H:mm" [min]="minDate" [max]="maxDate"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-icon name="pricetags" slot="start"></ion-icon>
      <ion-label> Kategori</ion-label>
      <span >{{categorySelectedCategory}}</span>
    </ion-item>

    <ion-item>
      <ion-chip *ngFor="let tag of categories; let i = index" color="secondary" outline="true" (click)="selectCategory(i)">
        <ion-label color="secondary">{{tag}}</ion-label>
      </ion-chip>

      <!-- Butang tambah dalam pilihan category :) yang xde func :) -->
      <!-- <ion-chip color="primary" outline="true">
        <ion-label color="secondary">new</ion-label>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-chip> -->
    </ion-item>

    <ion-button class="ion-margin" expand="block" (click)="add()">Tambah Tugasan</ion-button>

  </ion-card>
</ion-content>
